.home_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.applis {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
}

.appli {
	height: 100px;
	width: 100px;
	margin: 10px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: var(--main-color08);
}

.appli:hover {
	color: var(--main-color1);
	background-color: var(--main-color015);
	transition: .1s;
}

.appli:active {
	background-color: var(--main-color01);
	transition: .1s;
}

.appli_img {
	height: 60px;
	width: 60px;
}

.appli_name {
	width: auto;
	font-size: 18px;
}

@media (max-width: 419px) {
	.applis {
		width: 300px;
	}
}