_build/nginx/certs/*.crt
_build/nginx/certs/*.key

api/api_google
api/api_google/credentials.json
api/api_google/auth.js
api/api_google/token.js
api/api_google/token.json

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea
