form {
	flex-direction: column;
	align-items: center;
}

form * {
	margin: 8px 0;
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.login input {
	max-width: 300px;
}
.login button {
	max-width: 100px;
}

.login-adds {
	display: flex;
	justify-content: center;
	font-size: 0.75em;
}

.login-adds a, .login-adds span {
	color: var(--main-color05);
	padding: 0 5px;
	margin: 0;
}
.login-adds a:hover {
	color: var(--main-color08);
}

.title {
	text-align: center;
	color: var(--main-color08);
}

.error-message {
	text-align: center;
	height: 0;
}
