
/* COLORS */
:root {
	--test:rgb(0, 0, 0);
	
	/* modifiables */
	--main-color:100, 148, 237;		/* blue theme */
	/* --main-color:239, 126, 33; */  		/* orange theme */
	/* --main-color:93, 213, 18;			/* green theme */
	/* --main-color:239, 229, 33; */		/* yellow theme */
	/* --main-color:204, 126, 242;			/* purple theme */
    --window-color:rgb(15, 15, 15);
    --input-text-color:rgb(255, 255, 255);
    --button-text-color:rgb(15, 15, 15);

	/* based on main color, don't modify */
    --main-color1:rgba(var(--main-color), 1);
    --main-color08:rgba(var(--main-color), 0.8);
    --main-color05:rgba(var(--main-color), 0.5);
    --main-color04:rgba(var(--main-color), 0.4);
    --main-color03:rgba(var(--main-color), 0.3);
    --main-color015:rgba(var(--main-color), 0.15);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
	background-color: var(--window-color) !important;
	cursor: default;
	min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
	max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
	display: flex !important;
	justify-content: center;
	width: 100%;
	font-size: 20px;
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.app {
	padding:20px;
	height: 100vh;
	width: 1000px;
	color: var(--main-color1);
}

form {
	display: flex;
	justify-content: center;
}

label {
	opacity: 0.5;
	padding: 10px 0;
}

input, button {
	height: 35px;
	border: 0;
	border-radius: 5px;
	font-size: 20px;
	cursor: default;
	margin: 0 5px;
}

input {
	background-color: var(--main-color03);
	color: var(--input-text-color);
	width: calc(75% - 20px);
	padding: 5px 15px;
}

button {
	background: var(--main-color08);
	color: var(--button-text-color);
	width: 25%;
	padding: 5px;
}

input:hover, input:active, input:focus {
	background-color: var(--main-color04);
	transition: .15s;
}

button:hover, button:active, button:focus {
	transition: .15s;
	background: var(--main-color1);
}

input:focus, button:focus {
    outline: none;
}

a {
	text-decoration: none;
}

.title {
	text-align: center;
	color: var(--main-color08);
	font-size: 1.5rem;
	margin: 10px 0;
}

/* @media only screen and (max-width: 600px) { */
@media (max-width: 600px) {
	#root {
		padding: 0px!important;
	}
	
	.app {
		padding: 20px 10px!important;
	}

	button {
		line-break:normal;
	}
}
