form.chat {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

form *.chat {
	margin: 8px 0;
}

input.chat {
	max-width: 300px;
	margin: 5px 0;
	width: 400px;
	max-width: 90vw;
}

button.chat {
	max-width: 100px;
	width: 100px;
	max-width: 90vw;
}